

%title {
	color: $headers-color;
	margin-top: 0;
	margin-bottom: 0;
}



%section-title {
	margin-bottom: 30px;
	
	font-size: 28px;
	line-height: 1.17;

	@media screen and (min-width: 1200px) {
    	margin-bottom: 50px;
		font-size: 36px;
	}
}

%flex {
	display: flex;
	justify-content: center;
	align-items: center;
}