    $text-color: #163837;
	$headers-color: #163837;

    $background-color-main: #c6fffc;
	$background-color-blocks: #F5F4FA;
	$background-color-modal: rgba(0, 0, 0, 0.2);

	$link-icon-fill: #f17814;
	$link-icon-revfill: #ffffff;

	$conditions-color: #f17814;
	$conditions-subcolor: #FFFFFF;

	@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
	